<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>test</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class = "container mt-5 mb-5">
  <h1>Тест добавления одежды</h1>
  <form action="/clothes/save" method="post" th:object="${cloth}">
    <input type="text" name="name" placeholder="введите name" class="form-control">
    <input type="text" name="description" placeholder="введите description" class="form-control">
    <input type="text" name="type" placeholder="введите type" class="form-control">
    <input type="text" name="cost" placeholder="введите cost" class="form-control">
    <input type="text" name="costWithoutDiscount" placeholder="введите costWithoutDiscount" class="form-control">
    <button type="submit" class="btn btn-success m-4" value="submit">Добавить сущность</button>
  </form>
</div>
</body>
</html>